* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(45deg, #000000,#14213d);
    flex-grow: 1;

}

.header {
    background: #fca311;
    height: 100vh;
    width: 110px;
    color:#fff;
}


.menu-item {
    color:#14213d;
    margin-bottom: 3px;
    padding-top: 10px;
    background: #fca311;
    height: 90px;
    text-align: center;
    outline: none;
    border:none;
    cursor: pointer;
}

.menu-item:hover {
    background: #e09010;
}

.menu-item i{
    font-size: 40px;
}

.menu-item-text {
    font-weight: 500;
}

.wrapper {
    color: #fff;
    flex-grow: 1;
}

.content {
    padding:50px;
}

.dashboard-header {
    height: 75px;
    font-size: 50px;
    font-weight: 500;
    outline:none;
    border-bottom: 4px solid #fff;
    margin-bottom: 30px;
}

.dashboard-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 25px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;


}

.card{
    background: #fff;
    color: #14213d;
    width: 325px;
    height: 225px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    padding: 5px;
    transition: background-color 0.3s ease, transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}

.card:active {
    transform: translateY(5px);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.card-title{
    background-color: #dadada;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 2px solid #14213d;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    flex-shrink: 0;
}

.card-content{
    height: 185px;
    overflow: auto;
    flex-grow: 1;
    padding:10px;
}

.card-content::-webkit-scrollbar {
    width: 8px; 

  }
  
  .card-content::-webkit-scrollbar-thumb {
    background-color: #fff; 
    border-radius: 4px; 
    border: 2px solid transparent; 
    background-clip: padding-box; 
  }
  
  .card-content::-webkit-scrollbar-track {
    background-color: #fff; 
    border-radius: 4px;
  }
  
  .card-content::-webkit-scrollbar-thumb:hover {
    background-color: #fff; 
  }
  
  .card-content::-webkit-scrollbar-corner {
    background-color: #fff; 
  }


.card-location, .card-time{
    font-size: 18px;
}

.card-desc {
    margin-top: 4px;
    margin-bottom: 4px;
}


.event-popup{
    display: block; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; 
    border-radius: 10px;
    border: 5px solid #fca311; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 20px; 
    z-index: 1000;
    width: 400px;
    max-height: 600px;
    color: #14213d;
    overflow-y: scroll;
}

.event-popup::-webkit-scrollbar {
    width: 8px; 

  }
  
  .event-popup::-webkit-scrollbar-thumb {
    background-color: #fff; 
    border-radius: 4px; 
    border: 2px solid transparent; 
    background-clip: padding-box; 
  }
  
  .event-popup::-webkit-scrollbar-track {
    background-color: #fff; 
    border-radius: 4px;
  }
  
  .event-popup::-webkit-scrollbar-thumb:hover {
    background-color: #fff; 
  }
  
  .event-popup::-webkit-scrollbar-corner {
    background-color: #fff; 
  }


.event-popup-header {
    border-bottom: 2px solid #14213d;
    display: flex;
    justify-content: left;
}

.event-popup-header button{
    font-size: 30px;
    background: #fff !important;
    border: none;
    outline: none;
    color: red;
    height: 50px;

}
.event-popup-header button:hover {
    color: #fff;
    background:red !important;
}

.event-popup label {
    font-weight: 600;
    font-size: 17px;
}

.rating-container {
    margin-bottom: 20px;
}


.rate-event button{
    padding: 10px;
    border:none;
    outline: none;
    border-radius: 8px;
    background: #fca311;
    font-weight: 600;
    cursor: pointer;
}

.event-popup button {
    padding: 10px;
    border:none;
    outline: none;
    border-radius: 8px;
    background: #fca311;
    font-weight: 600;
    cursor: pointer;
}

.event-popup button:hover{
    background: #e09010;
}

.rate-event button:hover{
    background: #e09010;
}

.rate-event input {

    width: 50px;
    padding: 10px;
    border: 2px solid #b4b4b4;
    outline: none;
    border-radius: 7px;

}

.comments-container{
    margin-top: 10px;
    max-height: 230px;
    overflow-y:scroll;
    
}

.comments-container::-webkit-scrollbar {
    width: 8px; 

  }
  
  .comments-container::-webkit-scrollbar-thumb {
    background-color: #fff; 
    border-radius: 4px; 
    border: 2px solid transparent; 
    background-clip: padding-box; 
  }
  
  .comments-container::-webkit-scrollbar-track {
    background-color: #fff; 
    border-radius: 4px;
  }
  
  .comments-container::-webkit-scrollbar-thumb:hover {
    background-color: #fff; 
  }
  
  .comments-container::-webkit-scrollbar-corner {
    background-color: #fff; 
  }


.comment {
    background: #fff;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

}

.comment-header {
    background-color: #9bbaff;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-weight: 500;
    margin-bottom: 5px;
}

.comment-footer {
    margin-top: 5px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: right;
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
}

.comment-footer button{
    color: #14213d;
    background: transparent;
    font-size: 16px;
    padding: 0;
    margin-right: 110px;
}

.comment-footer button:hover{
    color: red;
    background: transparent;

}

