* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(45deg, #000000,#14213d);
    flex-grow: 1;

}

.header {
    background: #fca311;
    height: 100vh;
    width: 110px;
    color:#fff
}


.menu-item {
    color:#14213d;
    margin-bottom: 3px;
    padding-top: 10px;
    background: fca311;
    height: 90px;
    text-align: center;
    outline: none;
    border:none;
    cursor: pointer;
}

.menu-item:hover {
    background: #e09010;
}

.menu-item i{
    font-size: 40px;
}

.menu-item-text {
    font-weight: 500;
}

.wrapper {
    color: #fff;
    flex-grow: 1;
}

.content {
    padding:50px;
}

.dashboard-header {
    height: 75px;
    font-size: 50px;
    font-weight: 500;
    outline:none;
    border-bottom: 4px solid #fff;
    margin-bottom: 30px;
}

.dashboard-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 25px;
    height: calc(100vh - 200px);


}

.card{
    background: #fff;
    color: #14213d;
    width: 325px;
    max-height: 225px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s ease, transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}

.card:active {
    transform: translateY(5px);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}
